# General
.vscode
node_modules
dist
*.log

# Android build outputs and temporary files
**/android/build/
**/android/.gradle/
**/android/app/build/
**/android/app/build/outputs/
**/android/app/build/intermediates/
