SELECT * FROM registro_empaque pe 
WHERE pe.persona_id IN (
    63, 63, 64, 64, 64, 31, 68, 40, 87, 31, 96, 102, 104, 107, 111, 64, 64, 64, 64, 64, 64, 64, 58, 95, 95, 120, 81, 81, 81, 130, 140, 126, 126, 78, 95, 78, 95, 144, 144, 134, 145, 99, 148, 153, 49, 143, 95, 161, 161, 163, 165, 170, 170, 68, 68, 33, 33, 33, 33, 33, 33, 177, 177, 177, 177, 194, 188, 198, 175, 175, 200, 173, 128, 49, 202, 140, 140, 140, 140, 142, 142, 205, 142, 145, 174, 174, 173, 174, 174, 128, 31, 64, 64, 216, 219, 220, 220, 220, 220, 59, 237, 210, 158, 149, 228, 149, 228, 228, 149, 149, 145, 145, 232, 232, 232, 240, 240, 243, 243, 217, 64, 257, 259, 259, 259, 259, 260, 260, 260, 260, 260, 262, 262, 232, 232, 232, 263, 265, 265, 265, 265, 266, 128, 267, 267, 265, 145, 145, 268, 268, 268, 270, 273, 273, 273, 276, 276, 276, 276, 282, 282, 282, 284, 286, 290, 290, 174, 290, 289, 267, 267, 289, 289, 289, 291, 291, 291, 291, 153, 262, 262, 153, 153, 262, 297, 299, 302, 305, 309, 307, 312, 301, 301, 315, 301, 315, 315, 69, 70, 70, 319, 319, 318, 318, 319, 267, 64, 323, 323, 323, 324, 307, 141, 58, 58, 330, 332, 331, 158, 158, 158, 158, 158, 158, 309, 158, 158, 333, 298, 336, 324, 336, 218, 336, 322, 218, 322, 218, 336, 315, 336, 315, 342, 342, 342, 340, 342, 342, 342, 342, 74, 74, 343, 309, 309, 346, 172, 309, 346, 309, 309, 347, 347, 341, 348, 351, 351, 352, 353, 352, 353, 353, 355, 355, 356, 354, 323, 359, 295, 259, 267, 365, 76, 76, 370, 336, 348, 348, 374, 374, 374, 374, 375, 378, 379, 380, 216, 380, 216, 300, 300, 377, 300, 300, 382, 276, 382, 276, 276, 276, 386, 384, 95, 95, 95, 95, 95, 95, 95, 95, 95, 267, 391, 149, 149, 395, 404, 406, 412, 336, 336, 336, 58, 416, 419, 45, 45, 276, 276, 276, 423, 431, 431, 87, 434, 436, 64, 64, 442, 436, 443, 444, 448, 448, 449, 449, 449, 452, 452, 452, 456, 414, 414, 427, 158, 158, 158, 158, 158, 427, 158, 158, 359, 158, 158, 359, 158, 158, 359, 158, 438, 359, 438, 359, 359, 359, 359, 359, 359, 359, 359, 359, 95, 95, 336, 158, 336, 336, 336, 336, 336, 463, 463, 414, 414, 467, 467, 467, 467, 467, 467, 468, 469, 276, 276, 472, 473, 474, 474, 474, 478, 336, 444, 482, 482, 482, 482, 482, 485, 488, 336, 336, 336, 336, 162, 162, 162, 494, 95, 95, 95, 501, 501, 501, 501, 504, 504, 276, 276, 510, 511, 87, 436, 436, 436, 436, 436, 153, 153, 336, 518, 454, 524, 454, 525, 528, 525, 525, 528, 532, 532, 531, 529, 535, 531, 529, 535, 529, 158, 536, 158, 158, 158, 540, 394, 494, 42, 494, 494, 515, 549, 550, 551, 550, 436, 436, 436, 436, 526, 436, 436, 436, 436, 218, 554, 556, 149, 149, 149, 149, 149, 149, 149, 149, 149, 557, 153, 558, 128, 562, 436, 562, 436, 436, 562, 436, 562, 562, 436, 562, 436, 562, 436, 436, 436, 436, 436, 436, 436, 436, 563, 563, 563, 501, 563, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 566, 566, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 501, 374, 416, 416, 568, 568, 568, 568, 568, 568, 569, 128, 128, 128, 547, 568, 558, 571, 575, 576, 574, 577, 312, 312, 578, 494, 494, 312, 578, 312, 312, 312, 543, 312, 543, 579, 579, 579, 417, 417, 417, 417, 565, 565, 562, 562, 562, 562, 562, 562, 580, 580, 580, 568, 568, 568, 568, 568, 568, 49, 584, 336, 375, 584, 409, 593, 501, 501, 330, 501, 501, 501, 501, 501, 336, 595, 597, 597, 598, 599, 598, 535, 598, 535, 599, 501, 501, 501, 501, 501, 501, 501, 581, 581, 608, 608, 583, 583, 583, 613, 605, 95, 95, 583, 394, 583, 394, 583, 583, 565, 565, 565, 565, 565, 585, 585, 585, 534, 95, 95, 603, 276, 276, 418, 621, 623, 623, 625, 623, 623, 623, 623, 623, 64, 623, 589, 442, 442, 442, 442, 442, 442, 64, 64, 64, 64, 64, 64, 64, 64, 64, 64, 621, 633, 64, 64, 64, 336, 336, 336, 336, 336, 336, 635, 602, 602, 581, 602, 581, 602, 602, 602, 612, 95, 174, 553, 581, 587, 587, 581, 587, 581, 587, 646, 330, 639, 276, 276, 276, 276, 647, 647, 558, 649, 175, 175, 336, 336, 336, 336, 336, 336, 336, 653, 653, 653, 336, 653, 653, 653, 653, 420, 420, 162, 162, 162, 409, 595, 276, 276, 665, 665, 665, 665, 665, 666, 666, 667, 621, 621, 621, 621, 621, 149, 149, 149, 444, 441, 680, 677, 682, 682, 438, 438, 666, 359, 687, 688, 688, 690, 584, 242, 242, 354, 354, 700, 276, 276, 276, 703, 688, 550, 550, 550, 550, 312, 312, 312, 45, 45, 712, 444, 444, 712, 444, 712, 712, 712, 712, 712, 712, 712, 712, 713, 712, 712, 712, 714, 715, 717, 715, 715, 717, 717, 715, 715, 336, 718, 485, 720, 722, 722, 722, 485, 723, 723, 723, 728, 587, 587, 729, 729, 729, 729, 729, 715, 730, 731, 730, 730, 730, 730, 730, 730, 298, 734, 258, 736, 633, 633, 653, 737, 737, 737, 218, 218, 738, 738, 739, 738, 738, 739, 738, 444, 444, 444, 714, 714, 51, 175, 175, 175, 175, 175, 175, 175, 175, 175, 175, 742, 714, 742, 714, 714, 743, 743, 682, 218, 744, 427, 427, 295, 746, 747, 747, 589, 589, 748, 748, 748, 748, 748, 749, 743, 743, 750, 750, 750, 750, 750, 750, 750, 750, 750, 752, 69, 434, 434, 69, 685, 685, 703, 703, 703, 158, 158, 158, 158, 158, 158, 756, 158, 158, 158, 158, 441, 158, 158, 158, 158, 158, 158, 158, 158, 158, 158, 587, 666, 666, 218, 702, 758, 758, 758, 758, 758, 758, 758, 759, 759, 760, 621, 759, 761, 434, 762, 762, 698, 769, 769, 769, 769, 436, 436, 436, 436, 436, 59, 436, 712, 712, 712, 712, 64, 64, 754, 754, 754, 754, 70, 69, 70, 70, 775, 70, 69, 70, 69, 218, 218, 218, 218, 218, 218, 436, 218, 436, 436, 436, 436, 759, 779, 779, 436, 436, 780, 781, 781, 436, 436, 436, 436, 758, 436, 758, 436, 758, 436, 758, 436, 758, 436, 758, 436, 436, 758, 436, 758, 763, 763, 774, 774, 765, 765, 765, 258, 766, 766, 782, 782, 782, 782, 778, 778, 784, 785, 784, 784, 785, 784, 778, 784, 785, 785, 784, 785, 785, 778, 785, 778, 158, 158, 158, 158, 158, 682, 158, 158, 682, 311, 779, 258, 158, 311, 158, 754, 779, 786, 311, 158, 779, 783, 158, 158, 311, 158, 783, 779, 779, 779, 311, 783, 789, 311, 779, 158, 789, 311, 158, 783, 789, 311, 158, 789, 158, 458, 783, 311, 311, 311, 311, 311, 311, 792, 792, 458, 792, 791, 792, 258, 792, 458, 798, 797, 798, 798, 142, 798, 798, 142, 799, 799, 799, 799, 799, 666, 666, 801, 801, 801, 801, 801, 763, 763, 763, 774, 774, 765, 765, 766, 766, 770, 770, 770, 803, 804, 804, 804, 804, 770, 770, 804, 805, 805, 805, 805, 805, 800, 800, 800, 808, 95, 808, 808, 808, 808, 95, 95, 95, 95, 809, 809, 601, 95, 809, 595, 809, 95, 601, 809, 95, 601, 95, 810, 601, 95, 812, 812, 813, 812, 813, 95, 812, 813, 812, 813, 813, 755, 755, 755, 755, 755, 584, 814, 814, 814, 814, 584, 584, 816, 816, 816, 816, 818, 816, 818, 723, 818, 818, 818, 723, 723, 723, 767, 820, 767, 820, 820, 821, 819, 820, 819, 767, 744, 820, 819, 767, 819, 744, 819, 767, 819, 744, 767, 311, 311, 589, 823, 311, 822, 823, 311, 311, 823, 311, 822, 823, 823, 822, 824, 823, 822, 822, 824, 824, 824, 826, 826, 826, 826, 826, 827, 828, 827, 653, 653, 706, 653, 723, 706, 723, 706, 653, 706, 706, 758, 601, 758, 758, 821, 758, 723, 758, 832, 758, 712, 758, 712, 712, 712, 831, 712, 712, 712, 712, 712, 831, 831, 829, 829, 829, 829, 829, 621, 829, 621, 174, 174, 174, 174, 834, 834, 834, 834, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 837, 838, 42, 839, 779, 779, 779, 730, 730, 730, 427, 730, 730, 730, 479, 699, 699, 699, 699, 156, 156, 156, 156, 156, 156, 156, 156, 156, 844, 844, 156, 844, 156, 844, 156, 844, 844, 156, 844, 156, 844, 844, 844, 156, 156, 158, 156, 158, 156, 158, 158, 158, 158, 158, 158, 158, 158, 158, 158, 782, 158, 158, 789, 782, 158, 158, 759, 158, 158, 158, 158, 845, 258, 847, 770, 805, 848, 848, 848, 848, 847, 848, 843, 843, 843, 843, 843, 843, 843, 843, 465, 685, 849, 849, 849, 849, 849, 444, 444, 444, 444, 444, 444, 850, 850, 850, 850, 850, 685, 851, 566, 566, 851, 852, 852, 852, 852, 354, 354, 354, 852, 852, 744, 854, 854, 854, 854, 854, 855, 855, 855, 855, 162, 162, 162, 162, 162, 162, 162, 162, 162, 855, 162, 814, 780, 834, 780, 857, 858, 857, 857, 859, 857, 859, 69, 860, 863, 859, 863, 70, 860, 601, 737, 860, 863, 859, 859, 863, 860, 862, 800, 860, 863, 788, 788, 788, 788, 64, 861, 64, 861, 64
) 
AND pe.codigo_promocional IN (
    'CNXBCS083F', 'CNEMAL083X', 'f1hrdr085U', 'f1hrda085v', 'f1hrdf085y', '5YGGKB089N', '6DYVQK085J', 'f1utha084U', 'Z8QTDB079L', '5YULJG089B', 'F1ZFCY083P', 'SDYPBA085V', 'F1MULM082G', 'f1vnht078S', 'f1qxha096U', 'F1OGGG085H', 'F1HRDF085X', 'F1HRDV085S', 'F1HJCE085Y', 'F1HJCB085S', 'F1HRDF085V', 'F1HRDN085W', 'FLWPAR084Y', '5Yvwer088L', 's2AXCM089K', 'F1WHMB078V', 'F1XJFC084Z', 'F1XJFB084X', 'F1XJFA084Z', 'CNUQNR097W', '5YDSLQ089Z', '55CXMZ087E', '55CXNF087H', 'BBMCIV085H', '5Yvwer088K', 'BBKMIR085F', 's2AXCK089F', 'LXQYLG090S', 'XXYEBI085F', 'D6wxdg086f', 'BBHSRD089K', '5CEYSH083N', 'CNFSJN083T', 'BBDMBX087K', 'f1CXIA0970', 'LXQYLE090X', 's2AXCO089F', 'LXQYIF090X', 'LXYIBQ090D', 'Z8LJNP089C', 'IATKNI084W', 'F1LBFS084X', 'F1LBFS084D', '6DXXGY086D', 'F1HZEY085Z', '6OZKTE0793', '6DZVOX078T', '6DZVPP078R', '6DZVPY078A', 'F1DCGC078D', '6DXHXX086V', 'CNZZFL090L', 'CNAXFL080L', 'CNELGB090N', 'CNZZFL090H', 'F1WXFG096T', 'f1wdio087V', 'F1ZNAO033L', 'B8RULX037L', 'BBDUCB087J', 'Lxeufk087w', 'SJICPI087W', '60YTJM085W', 'bAHNeI079J', 'F1CPNT098W', '55TBJZ080C', '55TBJZ079D', '55MDKR079D', '55OLNL080J', 'ZBYTFR084G', 'F1UPFF098S', 'F1VBOD082Z', 'Z8ZJCX084H', 'BBDUCB087H', '0KWVUD096M', '0KNKOP096M', 'LZXFJK085G', '0KZLHP096N', '0KKWVG096P', '60WTNK090Y', '5YSMCI105S', 'F1FRDY089V', 'F1FFBX089X', 'BBGO1x099J', 'F1GPBE087N', '6DZPCF078Y', '6DXVBZ086O', '6DXVBQ086Z', '6DXVCC086H', '8ZVWCG096M', 'f1UAMC1018', 'F1CHDZ080S', '5YoYMr089X', '55APIP090L', 'FICHEH080V', '55JVJT090G', 'F1NZBI001C', 'F1RBNK9600', '55FFKI090B', '55CXLD090H', '5YUIDT0840', 'P0NMVI098F', 'F1HRDN085U', 'F1HRDN085Z', 'Z8XJKL091H', 'F1VFET089J', '5YXGDH088K', 'MeFUtp099F', 'bAXRab098H', '5YuIBU086B', 'F1FTBJ089V', 'LXWJQQ784H', 'SIJGPB087X', 'LXCAHU083M', 'ZBXJKL091J', 'Z8XJKL091G', 'F1TJAD084Z', 'F1TJAC084X', 'F1FWMS0970', 'F1TFAA084K', 'F1EHGE097Y', 'F1TFOI084K', 'F1GUOI084C', 'Z8WTNB100K', 'Z8IXKH098J', 'Z8IXKN098H', 'f1kafg0841', 'LXYLEM085E', 'S1JKAG084Z', 'S1EAON084R', 'LXBSJZ001C', 'F1MDOD097T', '6DWXVY090V', '5YTSBX089R', '5YTSBV089J', 'Z8ILOL085B', 'MEKITO099H', '6DYNUI085E', 'MEHMIJ099N', 'MEOMUE085L', 'MEHMIJ0990', 'f1PFMU087P', 'CNXJAG087H', 'CNSYFE087Z', 'CNSYFC087V', 'MEKICE099H', 'KZAWHT088G', 'KZAWHT088F', 'MELSCF099Q', '78STGJ085E', 'Z8WPBB087K', 'Z8STGJ085E', '5YIZFI082F', 'F1DJWJ990S', 'F1FWMV097B', 'F1TJAB084Z', 'DDCXXJ096M', 'F1TFOI084L', 'DDGAJQ096N', 'CNYDFC085E', 'CNZKJO085S', '5CDZJA096N', '5CBSGA096Q', 'DDWWDN096Q', 'Z8JBKZ086G', 'Z8JRIB086L', 'ZBIXMF086I', 'Z4JOVC105I', 'BBCMYM089D', 'F1TJAF084X', 'F1TJAC084U', 'BBADTJ8890', 'BBCQAM089L', 'F1TFOK0840', 'f1zzlx087s', 'F1SOOM084H', 'Z8ILOJ086J', 'f1xjoz087T', 'S1EPCE1029', 'CNCYLD087O', 'F1TJJD101U', 'F1UXGN098W', 'F1TJAE084Y', '55zzod089c', 'F1TFOK084N', '55ZZfd091c', '55zzjh091d', 'BBKSYB088j', 'BBKUyb088K', 'P0QMse079T', 'CDWBXC097Q', 'CDWDCI097U', '6DZFCO078T', 'CNEMET090M', 'F1XRKL090S', 'CNYDFM085F', 'fiffbt089w', '6DWBWW097C', '6DWBXX057L', '6DWBXU097Q', '5CXFRP090N', 'cNsedg098U', 'LXCEOU086T', 'ZBUTKH097J', 'LXZREK093G', 'KzHSvd088F', 'P0GUIY088B', 'P0GUIY088D', '5Yoyms089S', '5Yoyms089T', '5Yoymr089U', '5Yoymr089V', '5Yoymr089W', '5YAImh083L', 'CNYTOM085F', '5YAImf083P', '5Yrcme083T', 'METUHP099G', 'F1ZZIZ087U', 'BCCKZX0991', '5CTZKZ085M', 'BBBGZT099K', '6DXDNW090R', 'BBCJZX099E', 'F1NJPM099X', '6DWXVV090U', 'F1NRAO099V', '6DWVVP090H', 'BBCIZX099D', '55TBmB098d', 'BBCIZX0990', '55MDhr098B', 'Z8IPNT086L', 'Z8IPNT086I', 'Z8IPNV086D', 'LXHOND083Z', 'Z8IPNV086A', 'Z8HVCZ086F', 'Z8ILOF086G', 'Z8IPNV086C', 'CNBGBF085M', 'XXYACA099K', 'F1NJPM099V', 'BBJGMZ104N', 'BBJEMZ104L', 'T9ZWLF0900', 'F1XUCK097K', 'BBJEMZ104M', 'T9JCGS086S', 'MEZURE091J', 'MEZURE091L', 'F1CECH057P', 'FLIDJY097J', '5VATMG097B', 'CCFOGT085T', 'F1NNPT099Y', 'F1ONMI099Q', 'F1FFBI089Z', 'F1ONLU099N', 'F1DNLM0990', 'F1NJPO099Z', 'F1DHLM099N', 'F1DRSJ099R', 'F1NJPO099U', 'F1NRAN099U', 'LxzrEI0856', 'F1ENBO1020', 'Z8KTAX098A', '6DYNyJ085N', 'MEFWZJ079X', '6DJJRO090L', '55CXiv098E', 'f1xfcj098X', '6DYXsM085U', 'f1PBNG087L', 'BBFWDT0900', 'CCAMI1085K', 'f1uhfd084w', '5CALPV096M', 'DDVVHP096P', '5CBQEL096O', '5CWCGD096N', '55JVID089H', '66FRVX096C', '5YYYMC088U', 'Z8LFMX098E', 'BBHKEB104E', 'Z8LFMX098D', 'BBHKEB104D', '5YCDhy088E', '5YCDhy088D', 'F1ULII103V', '5YCDhy088F', '5YCDhy0886', 'f1WXag033K', 'BBAWGD100J', '5YVZqi089E', 'KZBEHD078E', 'P0DMRW089F', 'BBDGBL079K', 'D6VZMC0870', 'F1ZZMA087U', '5Yzsce088U', '5YKLcy088B', '5Yzwcd088Z', 's2AXCM089C', 's2AXCM089A', 's2AXCM089E', 's2AXCM089J', 's2AXCM089B', 's2AXCM089I', 'F1WICH089D', 'F1PBGK079X', 'CNBSKD083K', 'CNIXFQ099R', 'F1SLNE079K', 'KZAITD088M', 'F6MGoe105Q', 'P0MUcn080M', 'BBFQGR104K', 'BBFVGR104J', 'BBFVGR104K', 'Z3VRET097C', 'P0zyms102W', 's1eqia084X', 'Z8QXNN097F', 'S2QLDM084C', 'KZAOHP088D', 'KZAUGF088E', 'KZBAHT088G', 'f1kphd097S', '5YGENK099Y', '5YOXAI0320', 'S2VFMW104J', 'Z8RJMF089E', '55MDCD091A', 'F1FFBI089Y', 'F1FFBM089U', 'BATBGH090B', '55TBGH091B', 'Z4ISWI1050', 's1CAon084P', 'D6VFEU087L', 'D6VBFO087L', 'KzKAiJ107L', 'KzKAij107K', 'KzCEkn107I', 'BBMDSR088E', 'BBMQSR088D', 'BBMQSR088O', 's2ELGQ104F', '5YEHMW206G', '5YEHMW200H', '5YGAJH090N', '5YWMIU102V', '5YWMIV102T', '5YWMIV102S', '5YWMIV102Z', '5YWMIV102Y', '5YGAJH090M', '5YWMIV102X', '5YWMIX102X', 'ZBIXIZ104J', '5YWMIX102S', '5YWMIX102W', 'Z8IXJB104L', '5YWMIX102T', '5YWMIX102U', 'Z8JBIX104B', '5YWMIX102V', 'Z8KHDJ098A', 'Z8IXIZ104F', 'Z8KHDJ098L', 'Z8JBIV104H', 'Z8LBNL104D', 'Z8JBIV104K', 'Z8JBIX104A', 'Z8JBIX104E', 'Z8JFID104B', 'Z8JBIX104D', 'ZBJBIV104I', 'Z8JBIX104L', 'S2AXCK089D', 'S2AXCM089L', 'BBCKZX0999', '5YWMIU102U', 'BBFSGR104E', 'BBGIGV104N', 'BBFSGR104F', 'BBGIGV104F', 'BBGKGV104K', 's1s1IW0087A', 's1ayjq082W', '5YEHMW206H', '5YEHMW206I', 'P0WQTW080E', 'Z4MUSQ105M', 'Z4MESQ105L', 'Z4NGSU105N', 'Z4NESU105G', 'Z4MKSQ105G', '24EUJC105J', 'SIFCOM089L', 'P0DARS083S', 'MEZYPH102Y', 'F1RNGN084U', 'S1DGgx098C', 'BAFFDT100C', 'F1NUNA103L', 'F6IIDC111L', 'Z4IGaq105N', 'MEPCNY104N', '6DYVnn085H', '5YLWFO087T', '5YLWFO087S', 'SYLWFC897Z', '5YLWFO087Z', '5YIWFP087X', 'FGKCYE1051', 'f1xfoi087W', 'BBGIGV104E', 'BBFVGR104I', 'BBFSGR104N', 'BBFSGR104G', 'H9U1AK087F', 'H9U1AK087E', 'H9U1AK087D', 'S1LOIX103Z', 'S2AXCO0890', 'SYFCNX102P', 'S2AXCK089E', 'F1JRIC0960', 'F1UHIH096T', 'F1CHHO085X', 'F1VRIF078X', 'CNUXFY087A', 'XNFCDB096S', 'P0BEKX080A', 'KZBCHD078L', 'LXSAFS090T', 'Z8BJEP099G', '5YXKDW096V', '55HNFD091J', '55MDKI098B', '55ZZNF098A', '55TBDB091C', '55MDCJ091C', 'F0VKJA104H', 'BBKCOB0990', 'BBGKGV104M', 'Z4FOCY106F', 'K1TXFD1070', 'P0YOnk108M', 'F1QXKE084K', 'F1BBJM0990', 'F1KTCC099V', 'F1KTCA099W', 'F1LTCB099W', 'FYKTCA099T', 'F1NJPO099V', 'F1NRAM099T', 'F1NNFR099T', 'F1BBJK0990', 'F1NJPK099W', 'FLMNPF099Y', '1FWILC0996', 'F1WLMI099I', 'F1NJPG099Z', 'SYLOMV104L', 'Z4HMJK105P', '5YLKNJ1040', 'SYLOMV104K', 'SYLOMV104R', 'LXMYOP084V', '55MDHX104C', 'F1IPJA087N', 'P0VQMR105G', 'F1RKIS037D', 'F1TNKI087X', 'S1EIHF102V', '1IOLLG084B', 'F1JIPS106U', 'cNEMfz090R', 'F1JNIB106Y', '55CXMN098H', '55ZZGZ098B', '55TBAH098D', '55FFJB091A', 'F1NJPG099U', '55CXGB091F', '55ZZEX091B', '55XRCD091G', '55APKF091L', 'KZHCNX1071', 'F1VVGV087U', '11PVMS084A', '55OLKX097L', '55QTKF097F', '55OLKX097K', '55QTKF097E', '55XRJB097G', 'CNAYDR083M', 'CNCILA083W', 'CNZBKM083H', 'CNAYDV083J', 'yPPHen111Y', '6DWXVY090P', 'T9WYJP099S', 'P0OMDE110R', 'CNCQFE080V', '55HNIV091L', 'CNBKNR087N', '55TBGN091C', '55TBMB091D', 'CNBKNJ087M', '55CXEF091G', 'CNRKNX087T', 'CNRKND087M', '55OLHF091I', 'CNYPBG087A', '5STBGH091A', 'CNRKNT087T', '55ZZBR091C', '55ZZKR091D', '55VJGB091L', '55FFDT091C', '55QTMN091H', '55CXDZ091F', '55APGN091I', '55XRJB091H', 'KZNJXP103E', 'KZGGYF103E', 'KZFAYF1030', 'F1RGAY082A', 'KZGGYF1030', 'F1UHIH096U', 'F1GHIP099U', 'F1NFNK0800', 'F1JRIE096O', 'F1CLIO085U', 'F1VRIX078X', 'F1RNCM0850', 'F1WPJE0780', 'F1VRIP078S', 'F1UDOA078P', 'F1IMCO025F', 'F1CLIM085T', 'F1VFGJ078U', 'h9rcjd107X', 'h9cIMA107B', 'F1INCK085I', '10GHRS082K', 'F1DKJE0781', 'F1CJHM085V', 'F1CDHK0358', '1MUTHK078J', 'FLVFGI078W', 'F1GHLQ099S', 'F1DKJG078A', 'F1VRIN078V', 'FLVRIA078T', 'F1VRIR078Z', 'F1RODO082E', '20DXWB096P', 'BBmqin099D', 'BBmamv099K', 'Z4EIFO107K', 'Z4DUFO107Q', 'Z4EOFO107L', 'SIRNDE104F', 'Z8NJDN089A', '6DUTTZ099J', 'ZAKYYA1056', 'BBKYWV107F', 'BBKWWV107L', 'KZHUNX107F', 'FLVFIA098T', 'P0TCIT111W', '55OLIV103L', 'F1MDIS106V', 'Z8VRDT100J', 'F1YMAI1026', 'Z8ZFNZ105G', 'Z8BJCP111I', 'Z8QLOD106K', 'Z8WPAP087J', 'Z8BJCP111H', '5YYIBW081B', '5YYIBW081A', '55MDDT100O', 'XXUYBE103E', '55XRLD100H', '55XRKX100E', '55APKF100K', 'Z4IOeq107J', '55VJIP100K', '24CEui105L', 'F1FFAN102W', 'F1FFAM102Y', 'F1FFAM102X', '34HGDK105Q', '24DMIM107L', '24IGDO105N', '24MODK105Q', '55CXmn099G', '55APmb091i', 'BAFFDT096C', 'BAHNMT090J', 'BAAPEL096I', 'BACXDZ096F', 'BAJVCW096G', 'BAFFDN096B', 'F1FFAN102U', 'F1FFAL102U', 'F1FFAO102T', 'POTOSD083Z', 'P0TCIT111X', 'P0TCIT111Y', 'BAVJIJ098J', 'BAOTMN098H', 'BAQTMN098H', '24DYyu1050', 'F6GCCU1111', 'BBGKGV104H', 'F1MLAF097W', 'S1IZDA104C', 'MEKAYF099Y', 'D6VFEE087L', 'F1VFGF078U', 'F1WPJE073R', 'BBMIuj1070', 'F1PRDB082T', 'F1SAIC082A', 'FLVZCM082Z', 'F1WTHM0780', 'F1FVDY082J', 'BBGKGV104I', 'S1TCNK111W', 'F1YUHQ095G', 'FLKTCB099Z', 'FIYYJE099B', 'bATBmn090A', 'FTNJGB099G', 'F1CNLU099M', 'F1KTCA099S', 'FDNILU099M', 'BAHNJH090J', 'F1NBMN0900', 'F1NBRM080R', 'F1UWXK079M', 'F1NBMM080J', 'F1VZCK082X', 'F1LVRQ082L', 'F1PRDB082X', 'LXVBJI041R', 'ZAKGEV075F', 'F1BSJK099K', 'F1DNME0990', '55QTbl099G', '55QTbf099E', '55JVCV099G', 'F1NNPT099S', 'F1NRAQ099Z', '5YMQMR102U', '5YFCNX1020', '55FFlv105B', '6DXBJA090Q', '55MDjt105B', '6DWZEE090V', '55HNkr105i', '55VJmh105K', '55QLbf105k', '55TBah105D', '55FFCV105B', '55APkr105J', '55TBij105b', 'FIYYJI089A', 'F1NNPV099Y', 'F1KZCM0993', 'F1NJPN099U', 'S2DPLW102H', '5YMQMP1027', 'F1RJEC098V', 'P0IOIR086Z', 'MECAQM110R', 'LXVKPO100U', 'f1GXhM082N', 'BBHKmb0990', 'BBFEjp104H', 'F1NNPQ099U', 'P0LEge080F', 'BBMIor089N', '5Ycyhq098S', 'BBNUcj106F', 'BBFCjp104E', 'F1FFBK089Z', 'BBHIjt104M', 'S1UHCM1046', 'BATBOD107C', 'F6LEYE104L', 'BAAPDH107K', 'BAZZDT107D', 'BAVJHI107L', 'BACXIP107E', 'Z8KHCX098K', 'Z8KLCV098H', 'Z8IPNV086F', 'Z8KHCX098J', 'ZBIPNX986J', 'Z8KLCT098K', 'F1NJPG099W', 'F1NJPE099S', 'F1NJFD099U', 'F1NJPF099U', 's2JVIO111F', '5Ywqbq088W', 'F1KXCT099Z', 'F1BBIS099I', 'F1NJPE099Z', 'MEPGRY1042', 'MEPGRY104Y', 'BBGGGV104L', 'MEPCRY104R', 'MEPCRY104P', 'MEPCRY104Q', 'YPQVVM111F', 'PQIEST105R', 'PQIUSU105H', 'S1AGEV110S', 'PQIUSU105I', 'SIXJEE110D', 'PQIWSU105K', 'PQJMSU105A', 'POWJST105H', 'LxijCY1106', 'S20PLW102I', '24BAPK1076', 'P0ROzb101S', 'ZAKGEV107F', 'MeMEyj104I', 'MeMAyj104w', 'LXVGJA104R', 'MeMEyj104H', 'F1RHDE103V', 'BBOIqn110H', 'Z9DBKL099B', 'BBMIGG107G', 's1boes102u', '66MVSF086C', 'BBLKVP107K', 'KZIIZP088H', 'KZIKZP088E', 'Z8BNDD099J', 'Z4EOlk107L', 'T9HKEH101V', 'F6BMNC105P', 'BBHQYZ089H', 'BBKYWV107E', 'MEPGRY104A', 'POSEFX112X', 'P0OIFV112H', 'P0SEFX112U', 'P0OGFV112B', 'POSEFX112V', 'P0SEFX112W', 'F1KTFW104X', 'F1GKGU098Q', 'F1KTFX104W', 'P0SCFX112T', 'F1APDL098Y', 'F1KPFP104S', 'F1KXHB104Z', 'F1APDM093X', 'K9WTGM104B', 'H9BCDJ104Q', 'H9AI1D080Q', 'H9AI1D080R', 'H9AI1D080S', 'MEKYLA005S', '5Yweif112v', 'F6IGZK105Q', 'KZASGF088J', 'FGKAWA111F', 'F6KAWA111H', 'F6KAWA1116', 'F6KAWA111J', 'F6KAWA111I', '6DUTVV099J', 'F1ATPW106X', 'F1xreu098z', '5Ymqic111U', 'bAFFeI111D', 'bAFFdt098D', 'bATBiP105D', 'bACXgb105F', 'CNZBKO083G', 'CNZBKO083I', 'CNCILD083U', 'MeMALc090H', 'xNBCdb0960', 'F1DVNI107T', 'Z4IOEQ107K', 'F6KMOA105B', 'F6KMOA105J', 'Z8WPLP112K', 'Z8WLPL112I', 'MEWOUM099W', 'Z8BBEL112T', '5YoYpf114W', 'H9Hsmn1090', 'BBIAvh1100', 'P0YCRW117B', 'Z8IHMZ098I', 'W2RZRO111S', 'ZAIQSA107K', 'BBIMib106M', 'P0UWft104C', 'F1CLGI107V', 'MELIJO081A', 'MELOJO081M', 'MELIJO081Z', 'F6DOBG113P', 'Z4HUpo1051', 'F1FJJN110O', 'F1NFHQ110V', 'F1JJJV106Y', 'F2JRIJ106U', 'Z8QXLX106H', 'Z8ZBBH100C', 'Z8QXMD106B', 'bAXRjt087H', 'f1pbhn106S', '5YaahI102X', 'cNBOlz083L', '6DVRcl097D', '5Yhsaq107Y', 'f1glkw107X', '5Ysahw083T', '5YzbKN083H', '5Yjsjp079T', '5Yhsaq107X', '5Yjsjp079s', '5Yjsjq079X', '5Yhsaq107S', '5Yhsaq107z', 'XNHKNO103Y', '5Yhsaq107T', '5YznDO079E', '5YyxKK083I', 'P0WPFL114P', '66ZWDT096I', '55MDCD091B', 'KZDYKN105K', 'KZDWKN105O', '55XRIP100F', '55VJKR091I', 'F6BKQY113J', '66ZWDT096G', 'P0OIFV112G', '9DadDA112B', 'FGKEYE105M', 'LXZRED074H', '55XRGB105F', '55ZZfv105C', '55XRer105E', 'F6COBC111N', 'BBUAIH0991', 'BBCONH099K', 'BBEUNH0991', 'K1FIQL118P', 'bACXex112H', 'bAAPfj112L', '55CXKL100G', '55HNAH100I', '55XROJ091F', '55CXIV091E', '55CXER091E', 'F6BIQY113O', 'Z8UPMV078H', '90cakc112Y', 'Z8UPMP078D', 'Z8JPMV078C', 'Z8UPMT078B', 'Z8UPMT078F', 'LXAMEW079U', 'LXAMEU079Y', 'F1LZHE1010', '90tjGE0970', 'Z8ZBBD100F', 'F1AMEQ104G', '5Yfwhq100X', '5Ywqbq088V', 'F1DWHK107I', '6DUDHH104G', '6DYDHK104A', 'F1BNBK1020', '55VJHF108J', '24LWEY1079', '6DWXWK090Y', 'FIHHKE1060', 'xNXGdp103R', 'LXHKFY096V', 'F1IHKE1060', 'xNXGdt103P', 'KZFOZP103D', 'f1VNfu078K', 'LxAUfh079K', 'LxzfIS079H', 'Z8WPNT100B', 'F1MDHR115X', 'LXQIBC114I', 'LXRCKP090Y', 'P0RGGT108B', 'BBNAOV113E', 'BBAOOV107F', 'P0XQRC100L', 'BBMYOV113H', 'MEIARW110Z', 'MEHKKP099Z', 'MEMKKP099Z', 'MEGOSY099A', 'Z4lliy107F', 'XXLOGE088K', 'f1LVII101Q', 'S1SHMR098E', 'YMZCJK001C', 'XXIoja1018', 'Z4HYiy1070', 'S1TCJP102Q', 'BBLYWZ107M', 'f1QTAA100M', 'H9YPJI109C', 'H9ZOGD116V', 'yPNPcr113A', '6DWRMg090W', 'BBQIOR087H', 'F1KPFS115N', 'F1PFMC087L', 'F1KULY087E', '55Vjdt103J', '55MDgn097C', '55TBkr097C', '55TBkr089D', '55FFbI103A', '11PRNW0846', 'f1BJNO104K', 'Z4BWhk105H', 'S1SQNV102N', 'S1SMAH102P', 'S1HFCQ102H', 'S1HNNY102B', 'S1ZSOA102T', 'S1SULR102J', 'S1SULZ102M', 'S1HFCW102C', 'S1HFCY102E', 'f1lzki084Z', 'f1EQEE104I', '5YZKDD105Y', '5YZKDD1052', 'XXymiu104C', 'CNCXCO112C', 'CNYYDU114Y', '5YXVHU098D', '5YXVHS098C', 'BBGIHP078O', '5YMYNV1110', '5YMYNV111N', '5YMYNT111J', '5YMYNT111R', '5YMYNT111Q', '5YMYNT111P', 'F1TZFN112Z', '5YNOFW111Z', '5YNOFW111S', '5YMYOH111N', '5YMYOH1110', '5YKejc116x', '5YMYOF111P', '5YMYNF111P', '5YMYNF1110', '5YMYNF111N', '5YMYNF111M', '5YMYNH111L', '5YMYNH111K', '5YMYNH111J', '5YMYOF111Q', '5YMYOF111R', 'P0AMfq105H', 'BAKYWU107D', '5YXVHS098A', 'KZDEZH103K', 'CNKYIR107V', 'F1UXBD101S', 'F1UTAW101W', 'F1YIHQ105W', 'F1YLHA105Y', 'F1KACS105D', 'F1PZDE105L', 'F1YHHC105W', '6DWTpd090A', '6DWTqz090Z', 'S1POMN111N', 'f1OXOI105P', '6DXDnb090Z', 'f1YQLM089E', '5YQPFY105F', 'f1tzmv101V', 's2APBC090I', 's1BCon080P', 'F1ydmo090s', 'f1hjex104u', 'f1ylnz0902', 'f1MILC0900', '55YBAN105F', '55TBBI105A', '55MDJZ105D', '55QTBX105E', '55MDDB105D', 'S1RCID1116', '55XRNF105H', '5YyxKI083C', '5YyxKO083C', '5YznDO079F', '5YyxKK083H', 'XXBCFQ104D', 'XXZOFA104C', 'F1AIGV111Y', 'F1SXIY1110', 'F1SXIW111P', 'F1ALGS111Y', 'XXxwdo104L', 'XXymiw104F', 'XXyMiw104E', 'f1EUFK104I', '24AUhg1050', 'f1EQEG104I', 'f1VJEU104L', 'Z8BVOL111B', 'Z8CHMD111E', 'METYJZ099S', 'BBDYGJ099E', 'METYJZ099R', 'MEUIVC099I', 'METYJZ099T', 'MEMMSU115N', '55ZZAH105D', 'P0SSWL114U', '55FFIJ105C', '55JVDH105F', '55MDJZ105C', '55HNDT105I', 'cNoylm116w', 'XNvvBU0961', 'xNvvBU096I', '55VJHI104L', '55XRGT104F', 'S1BCIP110M', 'F1IMLQ108C', '6DYXSY085C', '55APMZ104L', '55ZZGH104A', '55HNKF104K', '55VJHI104K', 'F1KEDQ105A', '55CXMN104H', 'F1UXAZ101V', '55HNIP104K', 'F1KACS105E', '55TBHR104A', 'F1PZDE105K', '55JWIN104F', 'F1PZDE1050', '55MDJB104A', 'F1OMME101E', '55XRNR104F', '55QTIJ104G', 'F1UXAZ101X', '55QTAT104H', 'F1RVDI100R', '55MDkl091A', '55OLdz114K', '55OLmb114J', '55OLdz114L', '55OLmh114L', '55ZZbl114A', '55FFod114C', '55CXMN091H', '55FFhf091D', '55TBlv100B', 'Z4HQEM107G', 'Z8ZJNU105H', 'Z8ZJNH105C', 'Z8VBFH112A', 'F1QECG112A', 'F1UXJV112V', 'XNIPBI107G', 'P0NYDF080K', 'XNROMV107Q', 'XNSMCJ107Q', 'POOABW110J', 'XNMQME107W', 'F1MQII112I', 'XNHNMM107A', 'P0OADF080N', 'POPAHW182J', 'XNIKBT107S', '5YFKFB084X', 'P0MMDE080T', 'F1QECI112I', 'P0QEHK111K', 'F1UXJV112Z', '5YMYOF111J', '5YMYOF111K', 'SYTQWD107K', '5YTGMD107J', '5YTGMD107R', '5YJZIG0886', '5YTGMD107Q', '5YOPBA104C', 'S2SPLY103J', 'F1LGGM100D', 'XNyxLW089H', 'T9UMCR104Z', '5YGXCC107F', 'F1UMOI103D', '5YGXCC107E', 'F1AIGV111S', 'XNyxLw089c', 's1MEkx107R', 'F1OXFO100P', '5YGXCC107C', 'xNyxLS089G', 'F1AIGV111X', '5YGXCC107B', '5YGXCC107A', 'F1YDBZ100X', '5YLKNL104Q', 'F1SXIK111R', 'XNGimj096T', 'xNbrIw103H', 'xNEImr096M', 'F1OXFO100R', 'F1HCII111I', 'cNVGhn111Q', 'F1YHCA100W', 'xNgeng096U', '5YOPBA104B', 'cNVGhp111K', 'F1OTHA100L', '5YTGMD107P', 'F1AIGT111W', 'cNmdBC116H', 'F1OTGY100Q', '5YTGMB107M', '6DXDmg090K', 'SYTGRD107L', 'ABPXNS115H', 'F1NJIU112Q', 'F1HBDG113W', 'F1ZVFC113M', 'F1CPHS107X', 'F1AAEO113E', 'F1UPIY107K', 'F1FKIM107D', 'F1AIGV111Z', 'F1UXJU112S', 'ABMIJQ115N', 'F1AIGU111V', 'cNtgbs111S', 'F1QAAS112H', 'XNQUFR107P', 'F1ALGU111W', 'ABXXBQ115Q', 'F1SXIW111R', 'f1OAHA101V', 'F1AIGU111U', 'F1SXIU111P', 'Z8MDGX107I', 'F1NJIO112P', 'F1AIGT111Y', 'F1EDDM113Q', 'F1JVCO112R', 'F1MQIK112C', 'F1NJIY112N', 'F1ELGU111S', 'F1QECG112B', '66TBFD089A', 'MEMCYO113R', 'F1UXJV112U', 'F1RFHJ112X', 'F1NJIY1120', 'F1QEBY112C', 'F1QECI112G', 'LxOIIr101R', 'LxOIIv101N', 'xNjjHM107B', 'xNIrCW101C', 'xNQUft107O', 'xNkufj107U', 'xNQQgt107N', 'xNIrOI101C', 'xNkufm107W', 'xNkqfo107Y', 'xNQUfv107Q', 'xNIrou101e', 'F1ULIB112T', 'F1MQIG112B', 'F1QEBW112G', 'F1MQII112E', 'F1JVCO112Q', 'xNummx101T', 'xNQQhb107P', 'F1RFHN112S', 'XNIRDE101D', 'XNKUFM107U', 'XNQQHJ107L', 'XNKUFD107Y', 'XNKUFA107S', '6DMNOX115G', 'F1KABU105F', '6DMLOI115E', 'F1NJIS112J', '5YMQMQ102W', 'F1MQIK112A', 'F1QECA112E', 'F1RIID112S', 'F1RFHH112Y', 'S2DPLW102K', '5YPQKJ107N', 'S2DPMA102I', '5YPGKH107P', 'F1JVCU112P', 'F1AIGT111V', 'F1VVKM107J', '5YKTEG107H', 'F1AIGV111U', 'S1OHLC116A', 'F1AIGT111U', '5YKTEG107A', 'F1EEKK107E', 'F1MQII112F', 'S2DPLW102J', 'F1DZOH107Y', '5YKTEG107B', 'Z8CLMN105F', 'F1VVKM107R', '5YKTEG107G', 'F1AIGX111T', 'F1JVCG112O', '55MDDN114B', 'F1QECA112F', 'XNJJIW107A', '5YFCNX102Q', 'F1QECI112F', 'XNKUFG107L', 'F1SXIW111L', 'XNKQFY107S', 'T9OGCR106W', 'F1SXIW111K', 'F1MQII112H', 'F1MQIK112B', 'F1QECA112B', 'F1ALGS111Z', 'F6EYYI111J', '6DUDHE104M', '6DUDGY104W', '6DMLOL115C', 'F1YPID105W', 'LGLRFA836L', 'BAVJHF108I', 'F1HCII111F', 'F1HCII111D', 'F1SXIW111Q', 'F1MQIK112I', 'XNQQHN107Q', 'F1MQIG112A', '55TBCJ114D', '66TBFD089B', 'LXOLLJ101P', 'XNQUFX107Q', 'T9DGKN106S', 'POAKKL104V', 'F6NWAU113P', '66NKHH089L', 'F1ZCKS099H', '55OLDH114L', 'F1ZKNC099A', '55APFV114I', '55XRJN100F', 'F1SQFI106F', 'F1AQBY107A', '55XRBF114F', 'FLHNAP107T', 'F1ZLJC1070', '6DWBwt097I', '55JVDZ114E', 'F1AQBW107E', 'F1ULPF101V', '6DTPAV104K', '6DXNkn086S', 'F1HVBZ107T', '6DTPBH104S', 'F1AQBW107I', 'f1Ibos102T', 'F1OYCC101F', 'F1ZRHE113P', 'F1AAEQ113H', 'F1ZJFQ104K', '55HNER114L', 'F1AAEQ113I', 'F1MQII112D', '55APGB114K', 'F1AAEO113A', 'F1AEFU113I', '55QTCV114H', 'F1ZVFA113N', 'F1SXIU111N', 'XNUMMU101T', 'XNKUFD107Z', 'F1APHB111T', 'F1VRJG105Z', 'XNIRDE101I', 'F1RFHD112X', 'F1NJIY112M', 'FIOHJA103P', 'F1VRJH105U', 'F1VRJJ105X', 'F1UTJT112V', 'F1QABG112C', 'F1NJIW112R', 'F1JWCM112K', 'F1MQIK112G', 'F1ZFHM104R', 'yPNFco113F', 'F1DZKA082J', 'F1DWHO107C', 'P0PSOJ088L', 'F1VVKI107O', 'F1WDHY107L', 'JEWXYZ1071', 'F1VVKM107K', 'POUKHM108C', 'F1VVKK107R', 'F1DWHO107D', 'F1EEKE107I', 'F1DZOD107Z', 'A1KEDC105A', 'F1EEJW107D', 'F1ZWBU113B', 'F1PVEC105N', 'f1GICC097I', 'F1KEDI105A', 'BBHEIF117G', 'F1KEDQ105D', 'IARJFC0960', 'F1ZWBS113C', '5YzbKE083C', 'F1KEDS105I', '5YaahM102V', '5YzbKC083G', '5Yiebh079U', 'F1JWBE105F', '5YznDQ0796', '5YyxKI083E', '5YyxKI083D', '5Yjsuv079W', '5Ylebg079W', 'Z8NRNX107J', 'XXSAAC097H', 'XNIRDI101A', 'XNIIRO107I', 'XNIRDI101B', '55MDIV100B', '55XRCV100G', 'f1KMAM112F', '55QTDZ100E', 'LxhOfj107S', '0KWGCR103P', 'ODMCPR085O', 'ODWQPG085P', '0KFESO096N', '6DMLOU115K', '6DMNOX115F', 'F1JWBM105C', 'F1KABU105E', 'F1LGIM112B', 'F1KYDY100H', 'F1LCGI100B', 'F1DFKE107Y', 'F1EYDM107F', 'F1LCGI100C', 'F1YDBW100X', 'F1LKIS100C', 'F1WBEE107R', 'F1XVAN100U', 'F1XVAV100T', 'F1EYDO107C', 'F1LCGG100D', 'F1AHKY104K', 'F1UDNO107K', 'F1FWNC107B', 'F1YHCS100Y', 'F1CDFL107Z', 'F1CDFJ107S', 'F1LCFC100F', 'IAIMmv096R', 'XNYHFX096C', 'F1PRKP106S', 'XNgimu096x', 'XNvvBw096c', 'xNEImm096q', 'W2RTFC111N', 'W2RTFU111K', 'LXBOIR084J', 'H9YPKC109I', 'LXNKMI084T', 'F1DBMK1160', 'F1AAIK083B', 'f1ZFHO104L', 'CNELGE097G', 'CNUAAT097W', 'CNUAAU097Z', 'CNVOIL097L', 'F1IDJX097U', 'F1ZNNQ097P', 'F1ZNNM097P', 'F1GANE097D', 'F1ADAK105U', 'F1JZDB097S', 'F1JZDB097Z', 'F1KHKU102Z', 'F1UYBU089B', 'CNELGL097H', 'BAXRAB108G', 'F1XUCY097N', 'BAMDCJ108D', 'F1GANE097G', 'BAHNDH108K', 'F1JIUE105A', 'GAMDCJ108C', 'BAVJAH108J', 'F1RNAA105M', 'BAQTBL108G', 'F1CECC097G', 'BATBAZ108D', 'BAOLBX108K', 'BAHNDH108L', 'F1GPJS110R', 'F1PKPP073Y', '5YNOFX111U', 'F1TNBG079L', '5YNOFW111V', 'F1YECO083F', '5YNOFW111W', '5YNOFX111S', '5YNOFX111T', '5YNOFW111X', '5YNOFW111Y', 'SYNOFX111Z', '5YNOFX111Y', '5YNOFX111X', '5YNOFY111W', '5YNFAO111B', 'ZBJZCX107G', '5YNFAO111A', '5YNFAO111I', 'f1WMBY106C', 'F1EPBS110R', '5YNFAO111H', '5YNFAO111G', '6DXBgm090A', '5YNFAM111F', '5YNFAM111E', '5YNOFY111V', '5YGXCE107G', 'Z8IXIR107K', 'XNUMMP101Y', 'BBAyxt101L', 'xNkufk101T', 'XNQQhj107N', '6DUVZH099O', '6DZZHZ115H', '6DZZIC115B', '6DZZHZ115G', 'MeHEnt099P', 'F1AMGW102F', 'S1fccl1072', 's1exBG109G', 's1fboc1090', 's1Vojf109K', 's1such109u', 'S1sqCx109U', 's1vshz109Q', '55oLmb103J', 'F1QPKE105M', 'F1ADIE1075', 'F1XRIY104J', 'F1CIJJ104E', 'F1GXCQ104V', 'F1XRIW104R', 'F1XRIU104M', 'LxvnFo096B', 'LxgmKs096Z', 'W2RVke111Z', 'W2RXnz111Q', 'f1xret098V', 'f1XVee083Q', 'F1GLAE104Y', 'F1XRIW104P', 'F1CIII104F', 'F1XRJA104Q', 'F1GLAF104Z', 'F1IHEP107S', 'P0NMJX108U', 'h9rcjd107W', 'h9cIMA107C', 'P0RGJZ108D', '9PQFIU111V', '5PQFII111N', 'YPQJTK111C', '6DURSJ099C', '0KYPFA107N', '0KVHSN107N', '0KLBBO107P', '8DURSD0990', '6DURSD099O', 'T9PWPP111N', 'F1WIKW099F', 'F1KPAR099Z', 'F1KTCB099Z', 'F1WKSS099A', 'F1YUHQ099G', 'F1WMLQ099G', 'F1NJPJ099Y', 'F1WIKS099I', 'F1DRLE099P', 'H9OYHD080Z', 'H9OYHD080S', 'H9OYHD080T', 'H9ZRDU080I', 'H9ZRDU080H', 'H9ZRDU080G', 'H9XVJK080F', 'H9XVJK080E', 'H9XVJK080D', 'F1NJPL099U', 'W2ULAV104L', 'F1ADDA113N', 'S1MMKX116R', 'F1YPIC105W', 'S1NRDU116A', 'Z8XJIR105J', 'BBNCkj1040', 'Z8FJQF090H', 'Z8XJIP105B', 'F1VGBG110B', '6DTPCO104R', 'F1EPBS110J', 'cNfvAA114C', 'F1ATMG099M', 'F1WIKS099G', 'F1OYGC098I', 'FIYYJG099I', 'cNKuct104s', 'F1WMLU099H', 'Z8UXFT112C', 'F1ZWCI113D', 'F1YYJA099F', 'F1YYJG099G', 'F1HOMG100E', 'F1EHGF097X', 'F1YDEC104L', 'F1WILA099A', 'dSDMjL112J', 'F1HFEI113Y', 'F1DNMI099L', 'F1KTCA0993', '0KVZGR107Q', '0KVLYX107O', '0KUXUC107O', '0KXXWH103N', 'F1GXCN104S', 'Z8IDMX104C', 'F1BWDU104H', 'Z8IDND104F', 'F1GXCR104T'
);
