*{
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

.cuerpo {
    background-color: rgb(3, 122, 87);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


input {
    padding: 10px;
    margin: 10px;
    border: 5px;
    border-color: #000;
    border-radius: 15px;
}

.contenedor-principal {
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    background-color: rgb(3, 122, 87);
    padding: 55px;
    margin: 50px;
}

.contenedor-suma {
    background-color: #f3e307;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin: 30px;
    border: 2px solid #000;
    border-radius: 5px;
}

.contenedor-resta {
    background-color: #07ebf3;
    padding: 30px;
    margin: 30px;
    border: 2px solid #000;
    border-radius: 5px;
}

.contenedor-multiplicacion {
    background-color: #f30727;
    padding: 30px;
    margin: 30px;
    border: 2px solid #000;
    border-radius: 5px;
}

.contenedor-division {
    background-color: #1707f3;
    padding: 30px;
    margin: 30px;
    border: 2px solid #000;
    border-radius: 5px;
}
